.panel-section
{
    position: fixed;
    top: 20px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    text-align: center;
    padding: 30px;
    border: 3px solid var(--green-clr);
    background-color: var(--white-clr);
    color: var(--green-clr);
}