.cart-section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding: 30px 20px;
  color: var(--white-clr);
  box-shadow: 0 0 20px var(--black-clr);
  z-index: 20;
  width: 800px;
  background-color: var(--green-clr);
}
.cart-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.cart-section .cart-image {
  width: 70px;
  height: 70px;
}
.cart-section li {
  border-bottom: 1px solid var(--grey-clr);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-section .cart-image img {
  width: 100%;
}
.cart-section span.title {
  font-size: 22px;
}
.cart-section .delete-btn {
  background-color: transparent;
  border: 3px solid var(--white-clr);
  padding: 10px;
  border-radius: 50%;
}
.cart-section .delete-btn i {
  font-size: 18px;
  color: var(--white-clr);
}
.cart-section #quantity {
  font-size: 26px;
}
.cart-section button.plus-btn,
.cart-section button.minus-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: var(--white-clr);
  font-size: 20px;
  border-radius: 50%;
}
.cart-section button.plus-btn:hover,
.cart-section button.minus-btn:hover,
.cart-section .delete-btn:hover {
  color: var(--green-clr);
  background-color: var(--white-clr);
}
.cart-section .delete-btn:hover i {
  color: var(--green-clr);
}
.cart-section .buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-section .total-price {
  position: fixed;
  bottom: 20px;
  font-size: 30px;
  background-color: var(--green-clr);
  right: 20px;
}
button.cart {
  background-color: var(--green-clr);
  color: var(--white-clr);
  padding: 10px 20px;
  border: 3px solid var(--green-clr);
  border-radius: 0 0 0 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  font-size: 30px;
  outline: 3px solid var(--white-clr);
}
button.cart:hover {
  transform: scale(1.2);
  border: 3px solid var(--green-clr);
  color: var(--green-clr);
  background-color: var(--white-clr);
}
.empty-cart {
  text-align: center;
  font-size: 32px;
}
.cart-section {
  transition: opacity 0.5s, visibility 0.5s;
}

.cart-section.visible {
  opacity: 1;
  visibility: visible;
}

.cart-section.hidden {
  opacity: 0;
  visibility: hidden;
}

.cart-section.visible {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  button.cart {
    padding: 10px;
    top: 0;
    right: 0;
    z-index: 22;
    font-size: 16px;
  }
  button.cart:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  button.cart {
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 22;
    font-size: 16px;
    border-radius: 0 0 50% 50%;
  }
  button.cart:hover {
    transform: scale(1);
  }
  .cart-section {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 0px;
  }
  .cart-section h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .cart-section .cart-image {
    width: 40px;
    height: 40px;
  }
  .cart-section li {
    padding: 10px 0;
    gap: 30px;
    justify-content: center;
  }
}
