*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::-webkit-scrollbar
{
    display: block;
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--green-clr);
}
::-webkit-scrollbar-track
{
    background-color: var(--grey-clr);
}
:root
{
    /* COLOR */
    --green-clr: #79B331;
    --white-clr: #fff;
    --black-clr: #000;
    --grey-clr: #C4C4C4;
    --dark-clr: #252525;
    --light-clr: #D9D9D9;
    /* FONTSIZE */
    --font-16px: 16px;
    --font-18px: 18px;
    --font-20px: 20px;
    --font-24px: 24px;
    --font-38px: 38px;
    /* TRANSITION */
    --transition-3s: 0.2s;
}
body
{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
    background-position-y: -200px;
}
header
{
    padding: 50px;
    padding-right: 100px;
}
header ul
{
    width: 800px;
    margin-left: 50%;
    /* background-color: pink; */
}
header ul a
{
    padding: 24px 18px;
    background-color: var(--grey-clr);
    color: #000000;
    border-radius: 0 35px;
    transition: var(--transition-3s);
}
header ul a.active, header ul a:hover
{
    background-color: var(--green-clr);
    color: var(--white-clr);
    transition: var(--transition-3s);
}
header ul a:hover
{
    box-shadow: 0 0 5px var(--black-clr);
    transition: var(--transition-3s);
}
.aqcia
{
    width: 420px;
    height: 190px;
    margin-left: 58%;
    margin-top: 44px;
    text-align: center;
    padding-top: 36px;
    position: relative;
}
.wre{
    width: 32px;
    height: 32px;
    background-color: var(--green-clr);
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    animation: wreBrunavs 5s infinite;
}
.aqcia p:nth-child(2)
{
    font-size: 18px;
    margin-bottom: 20px;
}
.aqcia p:nth-child(3)
{
    font-size: 36px;
}
@keyframes wreBrunavs
{
    0%{top:0; left:0}
    25%{top:0; left:388px}
    50%{top:158px; left: 388px;}
    75%{top: 158px; left: 0;}
    100%{top:0; left:0}
}
.xe
{
    width: 1058px;
    height: 500px;
    margin-top: 54px;
    margin-left: 40%;
    position: relative;
    padding-top: 70px;
}
.toti
{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.toti2
{
    left: 50%;
    top:112px;
}
.toti3
{
    top:218px;
}
.toti4
{
    left: 50%;
    top:326px;
}
.fotoli
{
    width: 70px;
    height: 70px;
    background-color: var(--grey-clr);
    border-radius: 0 35px;
}
.toti p
{
    width: 420px;
    font-size: 18px;
}
.toti p.rame
{
    width: 498px;
    font-size: 17px;
}
.fotoli.right
{
    transform: rotate(90deg);
}
.ghero
{
    width: 2px;
    height: 100%;
    background-color: var(--grey-clr);
    margin: 0 auto;
}
.box-container
{
    width: 420px;
    height: 430px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 48px;
    margin-bottom: 58px;
}
.box-container .box
{
    width: 200px;
    height: 200px;
    background-color: var(--light-clr);
    align-items: center;
    padding-top: 64px;
    transition: var(--transition-3s);
}
.store-content
{
    float: right;
    margin-top: 80px;
    overflow: hidden;
}
.ou
{
    margin-right: 20%;
}
.store-content h2
{
    font-size: var(--font-24px);
    color: var(--dark-clr);
    font-weight: 400;
    text-align: center;
}
.store-content button
{
    width: 100%;
    background-color: var(--light-clr);
    border: none;
    outline: none;
    margin-top: 20px;
    transition: var(--transition-3s);
    padding: 10px 0 10px 0;
}
.store-content button:hover, .box:hover
{
    background-color: var(--green-clr);
    transition: var(--transition-3s);
}
.box .shop
{
    margin: 0 auto;
    display: block;
    transition: var(--transition-3s);
}
.location
{
    display: none;
    transition: var(--transition-3s);
}
.box p
{
    display: none;
    transition: var(--transition-3s);
}
.shop
{
    margin: 0 auto;
    transition: var(--transition-3s);
}
.box:hover .shop
{
    display: block;
    margin-top: -20px;
    transition: var(--transition-3s);
}
.box:hover p
{
    display: block;
    margin-top: 16px;
    color: var(--white-clr);
    text-align: center;
    font-size: var(--font-16px);
    transition: var(--transition-3s);
}
.box:hover .location
{
    display: block;
    margin: 0 auto;
    transition: var(--transition-3s);
}
.shop-content
{
    width: 640px;
}
.direction
{
    flex-direction: column;
}
.hide
{
    display: none;
}
.show
{
    display: block;
}
#buttons
{
    position: absolute;
    top: 130px;
    right: 20px;
}
#buttons button
{
    margin-bottom: 40px;
    color: var(--black-clr);
    font-size: var(--font-24px);
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: transparent;
}
#buttons button:hover
{
    background-color: var(--green-clr);
    padding: 8px 16px;
    border-radius: 0 35px;
    color: var(--white-clr);
}
/* CARD ABOUT */
.card
{
    position: relative;
    background-color: transparent;
    /* background-color: aqua; */
    text-align: center;
    padding: 28px;
    transition: 0.3s;
    margin-bottom: 60px;
}
.card:hover
{
    background-color: var(--grey-clr);
    transition: 0.3s;
}
.card-image
{
    width: 230px;
}
.card .card-image img
{
    width: 100%;
}
.card .card-body .price
{
    color: var(--black-clr);
    font-size: var(--font-20px);
    margin-bottom: 10px;
}
.card .card-body .name
{
    color: var(--black-clr);
    font-size: var(--font-18px);
    margin-bottom: 18px;
}
.card .more
{
    width: 100%;
    background-color: var(--grey-clr);
    border-radius: 0 35px 0 35px;
    font-size: var(--font-18px);
    padding: 10px 36px;
    transition: 0.3s;
}
.card:hover .more
{
    background-color: var(--green-clr);
    transition: 0.3s;
}
.card .more:hover
{
    transition: 0.3s;
    color: var(--white-clr);
}
.card .add-btn
{
    width: 50px;
    height: 50px;
    /* overflow: hidden; */
    top: 10px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
.card .add-btn img
{
    width: 100%;
}
.listProduct
{
    width: 60%;
    padding-right: 60px;
    margin: 0 auto;
    margin-top: 50px;
    height: 680px;
    overflow: scroll;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.cube
{
    width: 300px;
    height: 400px;
    background-color: transparent;
}
.Active
{
    background-color: #6759ff;
    color: red;
    border: none;
}
.display
{
    display: block;
}
.box:hover .white-on-hover
{
    filter: invert(100%);
}
/* DETAIL PAGE */
.detail-container
{
    width: 80%;
    margin: 0 auto;
    background-color: red;
    padding: 10px;
}
.detail-container .detail
{
    width: 50%;
    margin: 0 auto;
    background-color: aqua;
    padding: 10px;
}
i
{
    font-size: 26px;
    transition: 0.2s;
    padding: 5px 5px;
}
i:hover
{
    color: var(--green-clr);
    transition: 0.2s;
    transform: scale(1.5);
}
input
{
    float: right;
    background-color: transparent;
    border: 5px solid var(--green-clr);
    padding: 8px 10px;
    border-radius: 25px;
    border-top: none;
    border-bottom: none;
}
.cart
{
    position: relative;
}
.cart-value
{
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--green-clr);
    padding: 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    bottom: -10px;
    right: -10px;
}
/* CARTTAB */
.cart-tab
{
    width: 600px;
    background-color: var(--green-clr);
    color: var(--white-clr);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -700px 0 auto;
    box-shadow: 0 0 100px 10px black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 50px 50px;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
.cart-tab .list-cart .item-image img
{
    width: 100%;
}
.cart-tab .list-cart .item
{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.list-cart .quantity
{
    border-radius: 25px;
    border: 5px solid var(--white-clr);
    padding: 10px;
    background-color: transparent;
}
.list-cart .quantity span
{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: var(--white-clr);
    border-radius: 50%;
}
.list-cart
{
    overflow: auto;
}
body.showCart .cart-tab
{
    inset: 0 0 0 auto;
}
body.showCart .listProduct
{
    transform: translateX(-250px);
    transition: transform 0.5s;
}