header
{
    padding-top: 50px;
    padding-right: 210px;
    width: 100%;
}
header ul
{
    width: fit-content;
    gap: 85px;
    float: right;
}
header ul a
{
    padding: 24px 18px;
    background-color: var(--grey-clr);
    color: var(--black-clr);
    border-radius: 0 35px;
}
header ul a.active,
header ul a:hover
{
    background-color: var(--green-clr);
    color: var(--white-clr);
}