.shop-section {
  margin-top: 220px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 172px;
}
.box-container {
  width: 420px;
  height: 430px;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 58px;
}
.box-container .box {
  width: 200px;
  height: 200px;
  background-color: var(--light-clr);
  align-items: center;
  padding-top: 64px;
  text-align: center;
  transition: var(--transition-3s);
}
.shop-section h2 {
  font-size: var(--font-24px);
  color: var(--white-clr);
  font-weight: 400;
  text-align: center;
  margin-top: 34px;
  font-size: var(--font-18px);
  display: none;
}
.shop-section .box:hover h2 {
  display: block;
}
.shop-section button {
  width: 100%;
  background-color: var(--light-clr);
  border: none;
  outline: none;
  margin-top: 20px;
  transition: var(--transition-3s);
  padding: 10px 0 10px 0;
}
.shop-section button:hover,
.box:hover {
  background-color: var(--green-clr);
  transition: var(--transition-3s);
}
.box:hover {
  padding-top: 30px;
}
.shop-content {
  width: 640px;
}