.stores-section {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.store-content {
  padding-right: 288px;
}
.stores-section h2 {
  width: fit-content;
  font-size: var(--font-24px);
}
.store-container {
  width: 420px;
  height: 430px;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 58px;
}
.store-container .store-box {
  width: 200px;
  height: 200px;
  background-color: var(--light-clr);
  align-items: center;
  padding-top: 64px;
  transition: var(--transition-3s);
}
.store-content {
  float: right;
  margin-top: 80px;
  overflow: hidden;
}
.store-content h2 {
  font-size: var(--font-24px);
  color: var(--dark-clr);
  font-weight: 400;
  text-align: center;
}
.store-content button {
  width: 100%;
  background-color: var(--light-clr);
  border: none;
  outline: none;
  margin-top: 20px;
  transition: var(--transition-3s);
  padding: 10px 0 10px 0;
}
.store-content button:hover,
.store-box:hover {
  background-color: var(--green-clr);
  transition: var(--transition-3s);
}
.store-box .store {
  margin: 0 auto;
  display: block;
  transition: var(--transition-3s);
}
.location {
  display: none;
  transition: var(--transition-3s);
}
.store-box p {
  display: none;
  transition: var(--transition-3s);
}
.store {
  margin: 0 auto;
  transition: var(--transition-3s);
}
.store-box:hover .store {
  display: block;
  margin-top: -20px;
  filter: invert(100%);
  transition: var(--transition-3s);
}
.store-box:hover p {
  display: block;
  margin-top: 16px;
  color: var(--white-clr);
  text-align: center;
  font-size: var(--font-16px);
  transition: var(--transition-3s);
}
.store-box:hover .location {
  display: block;
  margin: 0 auto;
  transition: var(--transition-3s);
}
.stores-section h2.center-h2
{
  margin: auto;
}