button.cart {
  background-color: var(--green-clr);
  color: var(--white-clr);
  padding: 10px 20px;
  border: 3px solid var(--green-clr);
  border-radius: 0 0 0 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  font-size: 30px;
  outline: 3px solid var(--white-clr);
}
button.cart:hover {
  transform: scale(1.2);
  border: 3px solid var(--green-clr);
  color: var(--green-clr);
  background-color: var(--white-clr);
}
@media screen and (max-width: 700px) {
  button.cart {
    padding: 10px;
    top: 0;
    right: 0;
    z-index: 22;
    font-size: 16px;
  }
  button.cart:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  button.cart {
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 22;
    font-size: 16px;
    border-radius: 0 0 50% 50%;
  }
  button.cart:hover {
    transform: scale(1);
  }
}
